[global]
server.socket_host = '0.0.0.0'
server.socket_port = 8181

tools.gzip.on = True
tools.sessions.on = True

tools.template.on = True
tools.encode.on = False
tools.encode.encoding = 'utf-8'

tools.staticdir.root = "/home/rdenadai/programas/vagrant_img/python-desenv/ppwa/static"
tools.staticdir.on = True
tools.staticdir.dir = 'static'
