<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PPWA - Podcast using Progressive Web Apps</title>
        <meta name="description" content="This is a simple podcast app build with the idea of using Progressive Web Apps! Its a experimentation of the power that the web has gain! Enjoy!">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        {{msg}} {{ok}}
        <script src="/static/js/material.min.js"></script>
    </body>
</html>


