<!-- Textfield with Floating Label -->
<form action="#">
    <p style="text-align: justify;">
        Use the bellow field to search for a podcast we have in our knowledge base or type in the url (RSS feed) for one that you know.
    </p>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%;">
        <input class="mdl-textfield__input" type="text" id="search-add-podcast">
        <label class="mdl-textfield__label" for="search-add-podcast">Search</label>
    </div>
    <br />
    <ul id="list-add-podcast" class="mdl-list mockingbird-list" style="width: 100%;"></ul>

</form>

{% raw %}
<script id="podcast-search-template" type="text/x-handlebars-template">
{{#each podcasts}}
<li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
        <div class="thumbnail" style="float: left;"><img src="{{image}}" style="max-width: 100%;" /></div>
        <span style="font-weight: bold;">{{title}}</span>
        <span class="mdl-list__item-text-body">{{description}}</span>
    </span>
    <span class="mdl-list__item-secondary-content">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
            <i class="material-icons">add</i>
        </button>
    </span>
</li>
{{/each}}
</script>
{% endraw %}

<script type="text/javascript" defer>
    $('#search-add-podcast').focus();
    var source   = $("#podcast-search-template").html();
    var template = Handlebars.compile(source);
    var context = {
        podcasts: [
            {image: "/static/img/cover.png", title: "My New Post", description: "This is my first post, pay attention to this multiple line explanation! Its very important that you keep track of this."},
            {image: "/static/img/cover.png", title: "My New Post", description: "This is my first post, pay attention to this multiple line explanation! Its very important that you keep track of this."},
            {image: "/static/img/cover.png", title: "My New Post", description: "This is my first post, pay attention to this multiple line explanation! Its very important that you keep track of this."},
            {image: "/static/img/cover.png", title: "My New Post", description: "This is my first post, pay attention to this multiple line explanation! Its very important that you keep track of this."},
            {image: "/static/img/cover.png", title: "My New Post", description: "This is my first post, pay attention to this multiple line explanation! Its very important that you keep track of this."},
            {image: "/static/img/cover.png", title: "My New Post", description: "This is my first post, pay attention to this multiple line explanation! Its very important that you keep track of this."},
            {image: "/static/img/cover.png", title: "My New Post", description: "This is my first post, pay attention to this multiple line explanation! Its very important that you keep track of this."}
         ]
    };
    var html    = template(context);
    $('#list-add-podcast').html(html);
</script>