<div class="mocking-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><strong>Welcome to Mockingbird</strong></h2>
    </div>
    <div class="mdl-card__supporting-text">
        This is a podcast app, it's may porpuse is to show that is possible to write great apps using web technologies. Fell free to use at your own will!<br />
        In case you are interest, the full source code of this app is on github, <a href="https://github.com/rdenadai/mockingbird" rel="noopener noreferrer">check out</a>.<br /><br />
        <strong>You still don't have any podcasts registered...</strong> please click on the "New Podcast" button bellow or on the floating red button with a plus inside it!
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a id="mockingbird-add-podcast" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            New Podcast
        </a>
    </div>
</div>

<!-- Colored FAB button with ripple -->
<button id="mockingbird-fab-add-podcast" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--floating-action">
    <i class="material-icons">add</i>
</button>