<!DOCTYPE html>
<html class="js no-touchevents" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="This is a simple podcast app build with the idea of using Progressive Web Apps! Its a experimentation of the power that the web has gain! Enjoy!">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Mockingbird Podcast</title>
        <meta name="theme-color" content="#2196f3">
        <link rel="icon" sizes="192x192" href="/static/img/icon/ic_launcher-4x.png">
        <link rel="manifest" href="/manifest.json">

        <!--[if IE]>
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
            <link href="../static/css/transitions.css" rel="stylesheet">
        <![endif]-->
    </head>
    <body>
        <!--[if !IE]> -->
            <style>
                @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
                @import url('../static/css/transitions.css');
            </style>
        <!-- <![endif]-->
    	<div id="content"></div>
        <script type="text/javascript" src="../static/offline.js" async="true"></script>
    </body>
</html>
